front-editor#content: "Obsah"
front-editor#send: "Uložit"
front-editor#edit-link: "Editovat"
front-editor#onsuccess: "Uloženo"
front-editor#onsuccess-fail: "Nebylo uloženo"
front-editor#title: "Přímá editace stránek"
front-editor#back: "Zpátky do administrace"
front-editor#close: "Zavřít"
front-editor#logout: "Odhlásit se"
front-editor#link: "Upravit"
